{%extends 'main.html'%}

    {% block contenu%}
<h1>Détails du livre : {{ livre.titre }}</h1>
    <div>
        <p><strong>Auteur :</strong> {{ livre.auteur }}</p>
        <p><strong>Prix :</strong> {{ livre.prix }}</p>
        <p><strong>Description :</strong> {{ livre.description }}</p>
        <p><strong>Quantité disponible :</strong> {{ livre.quantite }}</p>
        <p><strong>Nombre de pages :</strong> {{ livre.pages }}</p>
        <p><strong>Catégorie :</strong> {{ livre.category }}</p>
        <p><strong>Date d'édition :</strong> {{ livre.date_edition }}</p>
        {% if livre.image_covr %}
            <img src="{{ livre.image_covr.url }}" alt="Image de couverture du livre">
        {% endif %}
        <div class="mt-4">
            <a href="{%url 'modifier_livre' livre.id %}" class="btn btn-primary">Modifier</a>
            <a href="{%url 'supprimer_livre' livre.id %}" class="btn btn-danger">Supprimer</a>
        </div>
    </div>
        {%endblock%}