{% extends 'main.html'%}

{% block contenu%}
<br>
<div class="row">
    <div class="col-md">
        <h5>Clients:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-outline-info  btn-sm btn-block" href="">Modifier le Client</a>
            <a class="btn btn-outline-danger  btn-sm btn-block" href="">Supprimer le Client</a>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Informations</h5>
            <hr>
            <p>Email: </p>
            <p>Telephone: </p>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Total des Comamndes</h5>
            <hr>
            <h1 style="text-align: center; padding: 10px"></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <form method="get">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Produit</th>
                    <th>Categorie</th>
                    <th>Date de commande</th>
                    <th>Status</th>
                    <th>Mise à Jour</th>
                    <th>Supprimer</th>
                </tr>
            </table>
        </div>
    </div>
</div>
{%endblock%}